:root {
  /* Color Palette */
  $seasalt: rgba(248, 249, 250, 1);
  $antiflash-white: rgba(233, 236, 239, 1);
  $platinum: rgba(222, 226, 230, 1);
  $french-gray: rgba(206, 212, 218, 1);
  $french-gray-2: rgba(173, 181, 189, 1);
  $slate-gray: rgba(108, 117, 125, 1);
  $outer-space: rgba(73, 80, 87, 1);
  $onyx: rgba(52, 58, 64, 1);
  $eerie-black: rgba(33, 37, 41, 1);
}
